.navigation__link {
    background: rgb(211, 211, 177);
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin-left: 10px;
}
.navigation__submit {
    background: rgb(162, 195, 141);
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid;
    margin-right: 10px;
    padding: 10px;
    margin-left: 10px;
}
.navigation__submit:hover {
    color: red;
}

.navigation__link:hover {
    color: red;
}

.navigation__link:active {
    color: pink;
}
.navigation__link--text {
    font-size: 20px;
}

